<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SBStarkCapable</key>
	<false/>
	<key>com.apple.developer.carplay-audio</key>
	<true/>
	<key>com.apple.developer.carplay-charging</key>
	<true/>
	<key>com.apple.developer.carplay-communication</key>
	<true/>
	<key>com.apple.developer.carplay-maps</key>
	<true/>
	<key>com.apple.developer.carplay-parking</key>
	<true/>
	<key>com.apple.developer.carplay-quick-ordering</key>
	<true/>
	<key>com.apple.developer.siri</key>
	<true/>
	<key>com.apple.developer.web-browser</key>
	<true/>
	<key>com.apple.security.app-sandbox</key>
	<true/>
	<key>com.apple.security.network.client</key>
	<true/>
</dict>
</plist>
